
h1, h2, h3, h4, h5, p {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Inter';
}

h1 {
  /* Increase the attendance rate at your Eventbrite events */
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 55px;
  color: #232E50;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  color: #232E50;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  color: #232E50;
}

h5 .ant-table-column-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #232E50;
}

.ant-tag, .ant-tag-blue, .tag-info {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #232E50;
}



.sections {
  align-items: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#primary-button {
  /* background-image: linear-gradient(135deg, #F05537 0%, #F07837 100%); */
  background-color: #ED593A;
  border-radius: 4px;
  color: 'white';

  /* Pay now 👉 */
  height: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  box-shadow: 0px 4px 4px rgba(237, 89, 58, 0.1);
/* identical to box height */

color: #FFFFFF;


}
#primary-button:hover {
  box-shadow: 0 2px 8px 0 rgba(255,94,0,0.50);
}

#schedule-top {
  display: flex;
  justify-content: 'center';
  align-items: center;
  color: white;
  background-image: linear-gradient(135deg, #0050E0 0%, #0085FF 100%);
  border-radius: 8px 8px 0 0;
  height: 45px;
}

.ant-select-selection {
  background: rgba(255,255,255,0.20);
  border-radius: 4px;
  margin: 4px;
  color: white;
  border: none;
}

#insert > div {
  background: white;
  border-radius: 4px;
  margin: 4px;
  color: #0664FE;
  border: none;
}

#insert > div > span {
  color: #0664FE;
}

.ant-select-arrow {
  color: white;
}

.ant-layout-header {
  height: auto;
}

.chars-count {
  font-size: 12px;
}

.icon-section {
  font-size: 30px;
  background-color: #0664FE;
  /* background-color: lightslategray; */
  border-radius: 29px;
  padding: 8px;
  color: white;
  margin-right: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.confetti {
  position: absolute;
  width: 644px;
  height: 413px;
  right: -112px;
  top: 0px;
}

.tag-count {
  color: #0664FE;
  background-color: #eef5ff;
  border-radius: 50px;
  border: none;
}

.tag-info {
  border: none;
  color: #232E50;
  background-color: #EEF5FF;
  padding: 10px;
  font-weight: 600;
  font-size: 14;
}

.price-count {
  color: #B59A0C;
  background-color: #eef5ff;
  border-radius: 50px;
  border: none;
}

.ant-list-header {
  background-color: #D1410B;
  color: white;
}

#list-contact .ant-list-header {
  background-color: #dddddd;
}

.ant-modal-body {
  padding: 0px;
}

.event-list {
  display: flex;
  justify-content: space-between;
}

.event-list:hover {
  background-color: #EEF5FF;
  color: #232E50;
  cursor: pointer;
}

.ant-table-title {
  background-color: #E9EBEF;
}

.ant-table-title h1, h2, h3, h4, h5 {
  color: #232E50;
}

.info-import {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text-info {
  display: flex;
  flex-wrap: wrap;
}

.box-chars {
  margin-bottom: -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e8e8e8;
  color: #9197A7;
  padding-top: 5px;
  padding: 5px 15px 0px;
  margin: 1px -1px -15px -1px;
  z-index: 2;
}

.box-chars p {
  margin-top: 5px;
  margin-bottom: 0;
}

#schedule-box-card > div.ant-card-body {
  padding: 0px 0px 24px 0px;
}

#texto {
  padding: 15px;
  resize: none; 
  margin-bottom: 4;
  border: none;
  z-index: 1;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #232E50;


}

#texto:focus {
  border-color: #fc8162;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0px rgba(240, 85, 55, 0.2);
  box-shadow: 0 0 0 0px rgba(240, 85, 55, 0.2);
}

/* Rectangle */

.pay {
  background: #EEF5FF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 20px;
  margin: 5px;
  margin-bottom: 80px;
}

.summary-line {
  display: flex;
  justify-content: space-between;
}

.europe {
  height: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.header-back {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); 
}