
h1, h2, h3, h4, h5, p {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'avenir next';
}

.sections {
  margin-top: 50px;
  margin-bottom: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#primary-button {
  background-image: linear-gradient(135deg, #F05537 0%, #F07837 100%);
  border-radius: 4px;
  color: 'white'
}
#primary-button:hover {
  box-shadow: 0 2px 8px 0 rgba(255,94,0,0.50);
}

#schedule-top {
  display: flex;
  justify-content: 'center';
  align-items: center;
  color: white;
  background-image: linear-gradient(135deg, #0050E0 0%, #0085FF 100%);
  border-radius: 8px 8px 0 0;
  height: 45px;
}

.ant-select-selection {
  background: rgba(255,255,255,0.20);
  border-radius: 4px;
  margin: 4px;
  color: white;
  border: none;
}

#insert > div {
  background: white;
  border-radius: 4px;
  margin: 4px;
  color: #0664FE;
  border: none;
}

#insert > div > span {
  color: #0664FE;
}

.ant-select-arrow {
  color: white;
}

.ant-layout-header {
  height: auto;
}

.chars-count {
  bottom: -10px;
  position: absolute;
  color: lightgrey;
  font-size: 12px;
}

.icon-section {
  font-size: 18px;
  background-color: #1b83fa;
  /* background-color: lightslategray; */
  border-radius: 29px;
  padding: 7px;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.confetti {
  position: absolute;
  width: 644px;
  height: 413px;
  right: -112px;
  top: 0px;
}

.tag-count {
  color: #0664FE;
  background-color: #eef5ff;
  border-radius: 50px;
  border: none;
}

.tag-info {
  border: none;
  color: #232E50;
  background-color: #EEF5FF;
  padding: 10px;
  font-weight: 600;
  font-size: 14;
}

.price-count {
  color: #B59A0C;
  background-color: #eef5ff;
  border-radius: 50px;
  border: none;
}

.ant-list-header {
  background-color: #D1410B;
  color: white;
}

#list-contact .ant-list-header {
  background-color: #EEF5FF;
}

.ant-modal-body {
  padding: 0px;
}

.event-list {
  display: flex;
  justify-content: space-between;
}

.event-list:hover {
  background-color: #EEF5FF;
  color: #232E50;
  cursor: pointer;
}

.ant-table-title {
  background-color: #E9EBEF;
}

.ant-table-title h1, h2, h3, h4, h5 {
  color: #232E50;
}

.info-import {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text-info {
  display: flex;
  flex-wrap: wrap;
}